<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark primary-color">
    <div class="container">

        <!-- Navbar brand -->
        <a class="navbar-brand" href="#">ADMIN DASHBOARD</a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

            <!-- Links -->
            <ul class="navbar-nav ml-auto">

                <!-- Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/#!/">Sign Out</a>

                </li>

            </ul>
            <!-- Links -->
        </div>
        <!-- Collapsible content -->
    </div>

</nav>
<!--/.Navbar-->

<main class="container  mb-5">
    <h1 class="m-5 text-center"> MASS RESERVATION</h1>
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group">
                <a href="/#!/dashboard/massreservation">
                    <li class="list-group-item d-flex justify-content-between align-items-center active">
                        Mass Reservation
                        <span class="badge badge-primary badge-pill">{{massreservedcount}}</span>
                    </li>
                </a>
                <a href="/#!/dashboard/newsfeed">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Newsfeed
                        <span class="badge badge-primary badge-pill">14</span>
                    </li>
                </a>
                <a href="/#!/dashboard/contacts">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Contacts
                        <span class="badge badge-primary badge-pill">{{listofcontactscount}}</span>
                    </li>
                </a>
            </ul>
        </div>
        <div class="col-md-8">
            <!-- Editable table -->
            <div class="card">
                <div class="card-body">
                    <div id="table" class="table-editable">
                        <span class="table-add float-right mb-3 mr-2"><button data-toggle="modal" data-target="#modalLoginForm"
                                class="btn btn-outline-primary waves-effect">ADD</button></span>
                        <table class="table table-bordered table-responsive-md table-striped text-center">
                            <tr>
                                <th class="text-center">Person Name</th>
                                <th class="text-center">Type of Mass</th>
                                <th class="text-center">Date of Mass</th>
                                <th class="text-center">Details</th>
                                <th class="text-center">Remove</th>
                            </tr>
                            <tr ng-repeat="item in massreserved">
                                <td class="pt-3-half" contenteditable="true">{{item.firstname}} {{item.lastname}}</td>
                                <td class="pt-3-half" contenteditable="true">{{item.typeofmass}}</td>
                                <td class="pt-3-half" contenteditable="true">{{item.dateofmass}}</td>
                                <td class="pt-3-half" contenteditable="true">{{item.details}}</td>
                                <td>
                                    <span class="table-remove"><button type="button" class="btn btn-warning btn-rounded btn-sm my-0"
                                            ng-click="cancelreservation(item)">Cancel</button></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Editable table -->
        </div>
    </div>
</main>

<!-- Footer -->
<footer class="page-footer font-small primary-color pt-4">

    <!-- Footer Text -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase font-weight-bold">Footer text 1</h5>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita sapiente sint, nulla, nihil
                    repudiandae commodi voluptatibus corrupti animi sequi aliquid magnam debitis, maxime quam
                    recusandae harum esse fugiat. Itaque, culpa?</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-6 mb-md-0 mb-3">

                <!-- Content -->
                <h5 class="text-uppercase font-weight-bold">Footer text 2</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio deserunt fuga perferendis modi earum
                    commodi aperiam temporibus quod nulla nesciunt aliquid debitis ullam omnis quos ipsam, aspernatur
                    id excepturi hic.</p>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Text -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="https://mdbootstrap.com/bootstrap-tutorial/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->





<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form ng-submit="reservemass()" id="form">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">RESERVE MASS</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btn-close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="form-row">
                        <!-- Grid column -->
                        <div class="col-md-6">
                            <!-- Material input -->
                            <div class="md-form form-group">
                                <input type="text" class="form-control" id="firstName" ng-model="firstname">
                                <label for="firstName">First Name</label>
                            </div>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-6">
                            <!-- Material input -->
                            <div class="md-form form-group">
                                <input type="text" class="form-control" id="lastName" ng-model="lastname">
                                <label for="lastName">Last Name</label>
                            </div>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->

                    <!-- Grid row -->
                    <div class="row">
                        <!-- Grid column -->
                        <div class="col-md-12">
                            <!-- Material input -->
                            <div class="md-form form-group">
                                <select class="select-dropdown" id="massType" ng-model="selected">
                                    <option value="" disabled selected>Type of Mass</option>
                                    <option class="dropdown-content" ng-repeat="item in massCategory">{{item}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <!-- Material input -->
                            <div class="md-form form-group">
                                <input type="date" class="form-control" ng-model="massdate">
                            </div>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-12">
                            <!-- Material input -->
                            <div class="md-form form-group">
                                <textarea type="text" id="form7" class="md-textarea form-control" rows="3" ng-model="details"></textarea>
                                <label for="form7">Details</label>
                            </div>

                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">ADD</button>
                </div>
            </form>
        </div>
    </div>
</div>