.select-dropdown{
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ced4da;
    outline: 0;
    height: 38px;
    line-height: 2.9rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 .94rem 0;
    padding: 0;
    display: block;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.dropdown-content{
    clear: both;
    color: #000;
    cursor: pointer;
    line-height: 1.3rem;
    width: 100%;
    text-align: left;
    text-transform: none;
}


/* Required for full background image */